.demo-filter {
    color: rgb(0, 0, 0);
    padding: 0 1rem;
    
  }
  
  .demo-filter__control {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
    
    
  }
  
  .demo-filter label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-size: small;
    
  }
  
  .demo-filter select {
    font: inherit;
    padding: 0.5rem 3rem;
    font-weight: bold;
    border-radius: 6px;
    
    
    
  }
  select {
    appearance: none;
    
    color: rgb(108, 105, 105);
    border: 1px solid rgb(220, 214, 214);
   
  
  }
 
  
  

